@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Rajdhani:wght@300;400;500;600;700&display=swap');


html {
  scroll-behavior: smooth; 
}


.franklin {
    font-family: "Libre Franklin",sans-serif !important;
    font-optical-sizing: auto;
    font-weight:750;
    font-style: normal;
  }

.rajdhani {
  font-family: 'Rajdhani', sans-serif !important;
  font-weight: 500;
  font-style: normal  ;

}

.font-color{
  color: #00a1e4;
}

.font-color-bg{
  background-color: #00a1e4;
}

header{
  max-width: 90% !important;
}



.custom-border:hover {
  border-left: 4px solid #00a1e4; 
  transition: all 0.3s; 
  border-radius: 1.5rem;
}


.custom-rborder {
  border-right: 4px solid #00a1e4; 
}

.custom-xborder:hover {
  border-top: 4px solid #00a1e4; 
  border-bottom: 4px solid #00a1e4; 

  transition: all 0.3s;
  border-radius: 1.5rem; 
}

.filter-invert {
  filter: invert(100%);
}

.links:active {
  border: 4px solid #00a1e4;
  transition: all 0.3s;
  padding: 4px;
  border-radius: 1.5rem;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 15s linear infinite;
}



